.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .link {
    text-decoration: none;
    color: var(--grey-800);
    cursor: pointer;

    &:hover {
      color: var(--primary-main);
    }

    &::after {
      color: var(--grey-600);
      padding-left: 13px;
      content: '/';
      font-weight: bold;
    }

    &:last-child {
      color: var(--black);
      &::after {
        display: none;
      }
    }
  }
}
