.imageHolder {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--beige);
  border-radius: 16px;
  position: relative;
  margin-bottom: 10px;
  padding: 10%;

  .emptyProductText {
    position: absolute;
    background-color: var(--beige);
    padding: 20px;
  }

  img {
    transition: scale 0.2s ease-in-out !important;
    mix-blend-mode: multiply;
  }

  &:hover {
    img {
      scale: 1.05;
    }
  }
}
