@use '../scss/theme';

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.paginatedList {
  height: calc(100vh - 230px);
  min-height: 400px !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  padding-right: 9px;

  @include theme.scroll;
}
